{% extends 'base_front.html.twig' %}

{% block body %}
    <section id="nicdark_parallax_title" class="nicdark_section nicdark_imgparallax nicdark_parallaxx_img5">



            <!--start nicdark_container-->


                <div class="nicdark_space100"></div>
                <div class="nicdark_space100"></div>

                <div class="nicdark_space70"></div> <!--for header 1-->

                <div class="grid grid_6">
                    <h1 class="white subtitle">SmartBio</h1>
                </div>

                <div class="grid grid_6 nicdark_displaynone_responsive">
                    <div class="nicdark_space5"></div>
                </div>

                <div class="nicdark_space40"></div>
                <div class="nicdark_space40"></div>


            <!--end nicdark_container-->


    </section>

{% endblock %}