<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<!-- Mirrored from www.nicdarkthemes.com/themes/camping-village/html/demo/index.php by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 11 Feb 2022 12:06:08 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <title>GO Camp</title> <!--insert your title here-->
    <meta name="description" content="nicdark Framework"> <!--insert your description here-->
    <meta name="author" content="nicdark"> <!--insert your name here-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--meta responsive-->
    {% block css %}
        <!--START CSS-->
        <link rel="stylesheet" href="/FRONT/css/nicdark_style.css"> <!--style-->
        <link rel="stylesheet" href="/FRONT/css/nicdark_responsive.css"> <!--nicdark_responsive-->

                                                                         <!--revslider-->
        <link rel="stylesheet" href="/FRONT/css/revslider/settings.css"> <!--revslider-->
    {% endblock %}
    <!--END CSS-->

    <!--google fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montez' rel='stylesheet' type='text/css'> <!-- font-family: 'Montez', cursive; -->

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--FAVICONS-->
    <link rel="shortcut icon" href="/FRONT/img/favicon/favicon.ico">
    <link rel="apple-touch-icon" href="/FRONT/img/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/FRONT/img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/FRONT/img/favicon/apple-touch-icon-114x114.png">
    <!--END FAVICONS-->
</head>

<!--******************** BODY *******************-->
<body id="start_nicdark_framework">


<!--start preloader-->
<div class="nicdark_preloader">
    <i class="icon-cog green"></i>
</div>
<!--end preloader-->

<div class="nicdark_site">
    <div class="nicdark_site_fullwidth nicdark_site_fullwidth_boxed nicdark_clearfix">

        <!-- ********** start header ************** -->
        <div class="nicdark_section nicdark_navigation">

            <div class="nicdark_menu_fullwidth">

                <div class="nicdark_section nicdark_navigation">

                    <div class="nicdark_menu_fullwidth nicdark_menu_fullwidth_boxed">

                        <div class="nicdark_section nicdark_bg_grey nicdark_border_bottom_grey nicdark_displaynone_responsive">
                            <div class="nicdark_container nicdark_clearfix">
                                <div class="grid grid_6">
                                    <div class="nicdark_focus">
                                        <h6 class="grey subtitle">
                                            <a class="grey" href="#"><span class="greydark"> Température</span>&nbsp;&nbsp;&nbsp;&nbsp;Tunisia&nbsp;&nbsp;&nbsp;&nbsp;<i class=" icon-cloud-sun"></i>&nbsp;&nbsp;&nbsp;&nbsp;25 F° / 13 C° </a>
                                        </h6>
                                    </div>
                                </div>
                                <div class="grid grid_6 right">
                                    <div class="nicdark_focus right">
                                        <h6 class="grey subtitle">
                                            &nbsp;&nbsp;&nbsp;&nbsp;<span class="grey2">|</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <i class="greydark icon-plus"></i>&nbsp;&nbsp;<a class="grey nicdark_mpopup_ajax nicdark_outline" href="form-register.html">REGISTER</a>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<span class="grey2">|</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <i class="greydark icon-lock"></i>&nbsp;&nbsp;<a class="grey nicdark_mpopup_ajax nicdark_outline" href="form-login.html">LOG IN</a>
                                        </h6>
                                    </div>
                                </div>



                            </div>
                        </div>
                        {# ****************** LOGO + CONTACT ********************* #}
                        <div class="nicdark_displaynone_iphoneland nicdark_displaynone_ipadpotr nicdark_displaynone_iphonepotr nicdark_section nicdark_bg_white fade-down">
                            <div class="nicdark_container nicdark_clearfix">

                                <div class="grid grid_12 percentage">

                                    <div class="nicdark_space10"></div>

                                    <div class="grid_4">
                                        <div class="nicdark_space5"></div>
                                        <a href="#"><img width="100"  alt="" src="/FRONT/img/logo.png"></a>
                                    </div>
                                    <div class="grid_2 nicdark_sizing nicdark_border_right_grey">
                                        <p><i class="icon-phone green"></i> Contactez-Nous</p>
                                        <div class="nicdark_space5"></div>
                                        <p class="greydark">+21671234568</p>
                                    </div>

                                    <div class="grid_2 nicdark_sizing nicdark_border_right_grey">
                                        <p><i class="icon-clock green"></i> Horaire</p>
                                        <div class="nicdark_space5"></div>
                                        <p class="greydark">7j/7j</p>
                                    </div>

                                    <div class="grid_2">
                                        <p><i class="icon-mail-alt green"></i> Mail</p>
                                        <div class="nicdark_space5"></div>
                                        <p class="greydark">email@email.tn</p>
                                    </div>

                                    <div class="grid_2">
                                        <div class="nicdark_space5"></div>
                                        <a href="#" class="nicdark_btn nicdark_bg_orange  right medium white">Envoyer Une Reclamation</a>
                                        <div class="nicdark_space5"></div>
                                    </div>

                                    <div class="nicdark_space10"></div>

                                </div>

                            </div>
                            <!--end container-->

                        </div>
                        <!--end header-->

                        <div class="nicdark_section nicdark_bg_green fade-down">
                            <div class="nicdark_container nicdark_clearfix">

                                <div class="grid grid_12 percentage">

                                    <div class="nicdark_space20"></div>

                                    <!--logo mobile-->
                                    <div class="nicdark_displaynone_desktop nicdark_displayblock_iphonepotr nicdark_displayblock_iphoneland nicdark_displayblock_ipadpotr nicdark_center nicdark_focus">
                                        <a href=""><img width="180" alt="" src="/FRONT/img/logo-mobile.png"></a>
                                    </div>
                                    <!--end logo mobile-->

                                    <!--* social *-->
                                    <a class="nicdark_btn_icon nicdark_displaynone_responsive nicdark_zoom nicdark_bg_blue_hover  nicdark_marginright10 nicdark_bg_greendark extrasmall  white right"><i class="icon-facebook"></i></a>
                                    <a class="nicdark_btn_icon nicdark_displaynone_responsive nicdark_zoom nicdark_bg_blue_hover  nicdark_marginright20 nicdark_bg_greendark extrasmall  white right"><i class="icon-twitter"></i></a>
                                    <a class="nicdark_btn_icon nicdark_displaynone_responsive nicdark_zoom nicdark_bg_blue_hover  nicdark_marginright20 nicdark_bg_greendark extrasmall  white right"><i class="icon-gplus"></i></a>
                                    <!--end social-->

                                    <!-- *********************************** MENU ********************************************-->
                                    <nav>
                                        <ul class="nicdark_menu nicdark_margin010 nicdark_padding50">

                                            <li class="greydark">
                                                <a href="#">Accueil</a>
                                            </li>
                                            <li class="greydark">
                                                <a href="">Événements</a>
                                            </li>

                                            <li class="greydark">
                                                <a href="#">Transport</a>
                                                <ul class="sub-menu">
                                                    <li><a href="#">Categorie</a></li>
                                                  {#   <li>
                                                        <a href="#">Covoiturage</a>
                                                        <ul class="sub-menu">
                                                            <li><a href="">Je cherche un covoiturage</a></li>
                                                            <li><a href="">Je propose un covoiturage </a></li>
                                                        </ul>
                                                    </li>
                                                    #}
                                                </ul>
                                            </li>
                                            <li class="greydark">
                                                <a class="" href="">Restaurant</a>
                                            </li>
                                            <li class="greydark nicdark_megamenu">
                                                <a href=" ">Magasin</a>

                                            </li>
                                            <li class="greydark">
                                                <a href=" ">Contacts</a>
                                            </li>
                                        </ul>
                                    </nav>

                                    <div class="nicdark_space20"></div>

                                </div>

                            </div>
                            <!--end container-->
                        </div>
                        <!-- ************* end header ******************** -->
                    </div>

                </div>
            </div>

        </div>
        <!--end header-->

        <div class="nicdark_space90"></div>
        <!--*******************************  LES SECTIONS  *****************************************-->

        {% block body %}
            <!--start-->

            <div class="nicdark_space30">
            </div>

            <div class="nicdark_space30"></div>

            <div class="nicdark_space50"></div>


            <div class="nicdark_space50"></div>


            <!--end-->
        {% endblock %}
        <!--<div class="nicdark_space3 nicdark_bg_gradient"></div>-->
        <!--***************************************  FOOTER  ****************************************************-->
        <!--start section-->
        <div class="nicdark_section nicdark_bg_greydark">


           {#  <!--start nicdark_container-->
            <div class="nicdark_container nicdark_clearfix">

                <div class="nicdark_space30"></div>

                <div class="grid grid_3 nomargin percentage">

                    <div class="nicdark_space20"></div>

                    <div class="nicdark_margin10">
                        <h4 class="white">GO CAMP</h4>
                        <div class="nicdark_space20"></div>
                        <div class="nicdark_divider left small"><span class="nicdark_bg_white "></span></div>
                        <div class="nicdark_space20"></div>
                        <p class="white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas scelerisque velit ac elit accumsan, at aliquet leo sodales, in convallis sodales libero, eu imperdiet.</p>
                        <div class="nicdark_space20"></div>
                        <div class="nicdark_divider left small"><span class="nicdark_bg_white "></span></div>
                        <div class="nicdark_space20"></div>
                        <a href="contact-1.html" class="nicdark_btn_icon nicdark_bg_green small   white"><i class="icon-mail nicdark_rotate"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="contact-1.html" class="nicdark_btn_icon nicdark_bg_green small   white"><i class="icon-tree nicdark_rotate"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="contact-1.html" class="nicdark_btn_icon nicdark_bg_green small   white"><i class="icon-phone nicdark_rotate"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                </div>

                <div class="grid grid_3 nomargin percentage">

                    <div class="nicdark_space30"></div>

                    <div class="nicdark_marginleft10">
                        <h4 class="white">TAGS</h4>
                        <div class="nicdark_space20"></div>
                        <div class="nicdark_divider left small"><span class="nicdark_bg_white "></span></div>
                    </div>
                    <div class="nicdark_space10"></div>

                    <a href="#" class="nicdark_btn nicdark_bg_greydark2 small   white subtitle nicdark_margin10">Camping</a>
                    <a href="#" class="nicdark_btn nicdark_bg_greydark2 small   white subtitle nicdark_margin10">Tend</a>
                    <a href="#" class="nicdark_btn nicdark_bg_greydark2 small   white subtitle nicdark_margin10">Enfant</a>
                    <a href="#" class="nicdark_btn nicdark_bg_greydark2 small   white subtitle nicdark_margin10">Famille</a>
                    <a href="#" class="nicdark_btn nicdark_bg_greydark2 small   white subtitle nicdark_margin10">Nature</a>
                    <a href="#" class="nicdark_btn nicdark_bg_greydark2 small   white subtitle nicdark_margin10">Dogs</a>
                    <a href="#" class="nicdark_btn nicdark_bg_greydark2 small   white subtitle nicdark_margin10">Swim</a>
                    <a href="#" class="nicdark_btn nicdark_bg_greydark2 small   white subtitle nicdark_margin10">Camp</a>
                    <a href="#" class="nicdark_btn nicdark_bg_greydark2 small   white subtitle nicdark_margin10">Caravan</a>
                    <a href="#" class="nicdark_btn nicdark_bg_greydark2 small   white subtitle nicdark_margin10">Camper</a>
                    <a href="#" class="nicdark_btn nicdark_bg_greydark2 small   white subtitle nicdark_margin10">Kids</a>
                    <a href="#" class="nicdark_btn nicdark_bg_greydark2 small   white subtitle nicdark_margin10">Friends</a>

                </div>

                <div class="grid grid_3 nomargin percentage">

                    <div class="nicdark_space20"></div>

                    <div class="nicdark_margin10">
                        <h4 class="white">NOS IMAGES</h4>
                        <div class="nicdark_space20"></div>
                        <div class="nicdark_divider left small"><span class="nicdark_bg_white "></span></div>
                    </div>


                    <div class="grid nomargin grid_4 percentage">
                        <div class="nicdark_margin10">
                            <img alt="" class=" nicdark_opacity nicdark_focus" src="/FRONT/img/footer/img1.jpg">
                        </div>
                    </div>

                    <div class="grid nomargin grid_4 percentage">
                        <div class="nicdark_margin10">
                            <img alt="" class=" nicdark_opacity nicdark_focus" src="/FRONT/img/footer/img2.jpg">
                        </div>
                    </div>

                    <div class="grid nomargin grid_4 percentage">
                        <div class="nicdark_margin10">
                            <img alt="" class=" nicdark_opacity nicdark_focus" src="/FRONT/img/footer/img3.jpg">
                        </div>
                    </div>

                    <div class="grid nomargin grid_4 percentage">
                        <div class="nicdark_margin10">
                            <img alt="" class=" nicdark_opacity nicdark_focus" src="/FRONT/img/footer/img4.jpg">
                        </div>
                    </div>

                    <div class="grid nomargin grid_4 percentage">
                        <div class="nicdark_margin10">
                            <img alt="" class=" nicdark_opacity nicdark_focus" src="/FRONT/img/footer/img5.jpg">
                        </div>
                    </div>

                    <div class="grid nomargin grid_4 percentage">
                        <div class="nicdark_margin10">
                            <img alt="" class=" nicdark_opacity nicdark_focus" src="/FRONT/img/footer/img6.jpg">
                        </div>
                    </div>


                </div>

                <div class="grid grid_3 nomargin percentage">

                    <div class="nicdark_space20"></div>

                    <div class="nicdark_margin10">
                        <h4 class="white">CONTACTEZ Nous</h4>
                        <div class="nicdark_space20"></div>
                        <div class="nicdark_divider left small"><span class="nicdark_bg_white "></span></div>
                        <div class="nicdark_space20"></div>


                        <input class="nicdark_bg_greydark2   white small subtitle" type="text" value="" placeholder="EMAIL">
                        <div class="nicdark_space20"></div>
                        <textarea rows="3" class="nicdark_bg_greydark2   white small subtitle" placeholder="MESSAGE"></textarea>
                        <div class="nicdark_space20"></div>
                        <!--<input class="nicdark_btn nicdark_bg_green small   white nicdark_press" type="submit" value="SEND">-->
                        <a href="submit-message.html" class="nicdark_mpopup_ajax nicdark_btn nicdark_bg_green small nicdark_outline  white nicdark_press">SEND</a>
                    </div>
                </div>

                <div class="nicdark_space50"></div>

            </div>
            <!--end nicdark_container-->#}

        </div>
        <!--end section-->


        <!--start section-->
        <div class="nicdark_section nicdark_bg_greydark2 ">

           {#  <!--start nicdark_container-->
            <div class="nicdark_container nicdark_clearfix">

                <div class="grid grid_6 nicdark_aligncenter_iphoneland nicdark_aligncenter_iphonepotr">
                   <div class="nicdark_space20"></div>
                    <p class="white">© Copyright 2022 by <span class="grey">GoCamp</span></p>
                </div>


                <div class="grid grid_6">
                    <div class="nicdark_focus right nicdark_aligncenter_iphoneland nicdark_aligncenter_iphonepotr">
                        <div class="nicdark_margin10">
                            <a href="#" class="nicdark_bg_greydark nicdark_press right nicdark_btn_icon small  white"><i class="icon-facebook-1"></i></a>
                        </div>
                        <div class="nicdark_margin10">
                            <a href="#" class="nicdark_press right nicdark_btn_icon nicdark_bg_greydark  small  white"><i class="icon-gplus"></i></a>
                        </div>
                        <div class="nicdark_margin10">
                            <a href="#" class="nicdark_press right nicdark_btn_icon nicdark_bg_greydark  small  white"><i class="icon-twitter-1"></i></a>
                        </div>
                        <div class="nicdark_margin10">
                            <a href="#start_nicdark_framework" class="nicdark_zoom nicdark_internal_link right nicdark_btn_icon nicdark_bg_greydark2 small  white"><i class="icon-angle-up"></i></a>
                        </div>
                    </div>
                </div>

            </div>
            <!--end nicdark_container-->
            #}
        </div>
        <!--end section-->        </div>
</div>
<!--************************************************JAVASCRIPT**************************************************-->
{% block JS %}
    <!--main-->
    <script src="/FRONT/js/main/jquery.min.js"></script> <!--Jquery-->
    <script src="/FRONT/js/main/jquery-ui.js"></script> <!--Jquery UI-->
    <script src="/FRONT/js/main/excanvas.js"></script> <!--canvas need for ie-->

                                                       <!--plugins-->
    <script src="/FRONT/FRONT/js/plugins/revslider/jquery.themepunch.tools.min.js"></script> <!--revslider-->
    <script src="/FRONT/FRONT/js/plugins/revslider/jquery.themepunch.revolution.min.js"></script> <!--revslider-->

                                                                                                  <!--menu-->
    <script src="/FRONT/js/plugins/menu/superfish.min.js"></script> <!--superfish-->
    <script src="/FRONTjs/plugins/menu/tinynav.min.js"></script> <!--tinynav-->

                                                                 <!--other-->
    <script src="/FRONT/js/plugins/isotope/isotope.pkgd.min.js"></script> <!--isotope-->
    <script src="/FRONT/js/plugins/mpopup/jquery.magnific-popup.min.js"></script> <!--mpopup-->
    <script src="/FRONT/js/plugins/scroolto/scroolto.js"></script> <!--Scrool To-->
    <script src="/FRONT/js/plugins/nicescrool/jquery.nicescroll.min.js"></script> <!--Nice Scroll-->
    <script src="/FRONT/js/plugins/inview/jquery.inview.min.js"></script> <!--inview-->
    <script src="/FRONT/js/plugins/parallax/jquery.parallax-1.1.3.js"></script> <!--parallax-->
    <script src="/FRONT/js/plugins/countto/jquery.countTo.js"></script> <!--jquery.countTo-->
    <script src="/FRONT/js/plugins/countdown/jquery.countdown.js"></script> <!--countdown-->

                                                                            <!--settings-->
    <script src="/FRONT/js/settings.js"></script> <!--settings-->
    <script src="/FRONT/js/cost-calculator.js"></script> <!--settings-->
                                                         <!--custom js-->
    <script type="text/javascript">
        jQuery(document).ready(function() {


            //START SLIDE
            jQuery('.nicdark_slide1').show().revolution(
                {
                    dottedOverlay:"none",
                    delay:16000,
                    startwidth:1170,
                    startheight:550,
                    hideThumbs:200,

                    thumbWidth:100,
                    thumbHeight:50,
                    thumbAmount:5,

                    navigationType:"none",
                    navigationArrows:"solo",
                    navigationStyle:"preview4",

                    touchenabled:"on",
                    onHoverStop:"on",

                    swipe_velocity: 0.7,
                    swipe_min_touches: 1,
                    swipe_max_touches: 1,
                    drag_block_vertical: false,

                    parallax:"mouse",
                    parallaxBgFreeze:"on",
                    parallaxLevels:[7,4,3,2,5,4,3,2,1,0],

                    keyboardNavigation:"off",

                    navigationHAlign:"center",
                    navigationVAlign:"bottom",
                    navigationHOffset:0,
                    navigationVOffset:20,

                    soloArrowLeftHalign:"left",
                    soloArrowLeftValign:"center",
                    soloArrowLeftHOffset:20,
                    soloArrowLeftVOffset:0,

                    soloArrowRightHalign:"right",
                    soloArrowRightValign:"center",
                    soloArrowRightHOffset:20,
                    soloArrowRightVOffset:0,

                    shadow:0,
                    fullWidth:"on",
                    fullScreen:"off",

                    spinner:"spinner4",

                    stopLoop:"off",
                    stopAfterLoops:-1,
                    stopAtSlide:-1,

                    shuffle:"off",

                    autoHeight:"off",
                    forceFullWidth:"off",

                    hideTimerBar: "on",

                    hideThumbsOnMobile:"off",
                    hideNavDelayOnMobile:1500,
                    hideBulletsOnMobile:"off",
                    hideArrowsOnMobile:"off",
                    hideThumbsUnderResolution:0,

                    hideSliderAtLimit:0,
                    hideCaptionAtLimit:0,
                    hideAllCaptionAtLilmit:0,
                    startWithSlide:0,
                    videoJsPath:"rs-plugin/videojs/",
                    fullScreenOffsetContainer: ""
                });
            //END SLIDE


            //START COUNTDOWN GRID SECTION
            //variables
            var endDate = "June 06, 2016 10:30:00";
            var grid = "grid_3";
            //insert the class nicdark_displaynone in the var if you wnat to hide the visualization
            var display_years = "nicdark_displaynone";
            var display_days = "";
            var display_hours = "";
            var display_minutes = "";
            var display_seconds = "";
            //call
            $(".nicdark_countdown").countdown({
                date: endDate,
                render: function(data) {
                    $(this.el).html("<div class=\"nicdark_bg_greydark "+ display_years +" nicdark_center\"><div class=\"nicdark_space20\"></div><h3 class=\"white\">"+ this.leadingZeros(data.years, 4) +"</h3><div class=\"nicdark_space5\"></div><h6 class=\"white\">Days</h6><div class=\"nicdark_space20 nicdark_disable_float\"></div></div><div class=\"nicdark_bg_greydark2 "+ display_days +" nicdark_center\"><div class=\"nicdark_space20\"></div><h3 class=\"white\">"+ this.leadingZeros(data.days, 3) +"</h3><div class=\"nicdark_space5\"></div><h6 class=\"white\">Days</h6><div class=\"nicdark_space20 nicdark_disable_float\"></div></div><div class=\"nicdark_bg_greydark "+ display_hours +" nicdark_center\"><div class=\"nicdark_space20\"></div><h3 class=\"white\">"+ this.leadingZeros(data.hours, 2) +"</h3><div class=\"nicdark_space5\"></div><h6 class=\"white\">Hours</h6><div class=\"nicdark_space20 nicdark_disable_float\"></div></div><div class=\"nicdark_bg_greydark2 "+ display_minutes +" nicdark_center\"><div class=\"nicdark_space20\"></div><h3 class=\"white\">"+ this.leadingZeros(data.min, 2) +"</h3><div class=\"nicdark_space5\"></div><h6 class=\"white\">Min</h6><div class=\"nicdark_space20 nicdark_disable_float\"></div></div><div class=\"nicdark_bg_greydark "+ display_seconds +" nicdark_center\"><div class=\"nicdark_space20\"></div><h3 class=\"white\">"+ this.leadingZeros(data.sec, 2) +"</h3><div class=\"nicdark_space5\"></div><h6 class=\"white\">Sec</h6><div class=\"nicdark_space20 nicdark_disable_float\"></div></div>");
                }
            });
            //END COUNTDOWN GRID SECTION


        });
    </script>
    <!--custom js-->





    <!--start preloader-->
    <script type="text/javascript">

        jQuery(window).load(function() {
            jQuery(".nicdark_preloader").delay(1000).fadeOut("slow");

            //START PARALLAX SECTIONS
            $('#nicdark_parallax_booking').parallax("50%", 0.3);
            $('#nicdark_parallaxx_img2').parallax("50%", 0.3);
            $('#nicdark_parallax_2_btns').parallax("50%", 0.3);
            $('#nicdark_parallax_countdown').parallax("50%", 0.3);
            $('#nicdark_parallax_counter').parallax("50%", 0.3);
            //END PARALLAX SECTIONS

        })

    </script>
    <!--end preloader-->



    <!--google analytics-->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-49425562-11', 'auto');
        ga('send', 'pageview');

    </script>
    <!--google analytics-->
{% endblock %}

</body>

<!-- Mirrored from www.nicdarkthemes.com/themes/camping-village/html/demo/index.php by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 11 Feb 2022 12:07:30 GMT -->
</html>